<% if @trips.any? %>
    <br>
    <h3>My Trips</h3>

    <table style="width:40%">
        <tr>
            <th>Trip Name</th>
            <th>Average Rating</th>
            <th>Number of Stops</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    <% @trips.each do |trip| %>
        <tr>
            <td><%= link_to trip.name, trip_path(trip) %></td>
            <td><%= trip.average_rating %></td>
            <td><%= trip.trip_locations.count %></td>
        </tr>
    <% end %>
    </table>

    <br><br><br>
<%= button_to "Add A New Trip", new_trip_path, method: :get %>

<% else %>

    <br><br><br>
    No trips found, want to add one?
    <br><br><br>
<%= button_to "Yes", new_trip_path, method: :get %>     |
<%= button_to "No", user_path(current_user), method: :get %>
<% end %>


