<div style="margin-left:auto; margin-right: auto; width: 50%;">
    <% if @trips.any? %>
        <br>
        <h3>My Trips</h3>

        <table>
            <tr>
                <th>Trip Name</th>
                <th style="width: 35%; text-align: center;">Average Rating</th>
                <th style="width: 25%;">Number of Stops</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        <% @trips.each do |trip| %>
            <tr>
                <td style="text-align: left;"><%= link_to trip.name, trip_path(trip) %></td>
                <td><%= trip.average_rating %></td>
                <td><%= trip.trip_locations.count %></td>
            </tr>
        <% end %>
        </table>

        <br><br><br>
        <button class="btn btn-outline-primary" type="button">
            <%= link_to "Add A New Trip", new_trip_path, method: :get %>
        </button>

    <% else %>

        <div style="width: 80%; margin-left:auto; margin-right:auto;">
        <button class="btn btn-outline-primary" style= "float:right; margin-left: 5px;" type="button">
        <%= link_to "No", user_path(current_user), method: :get %>
        </button>
        
        <button class="btn btn-outline-primary" style= "float:right;" type="button">
        <%= link_to "Yes", new_trip_path, method: :get %>
        </button>
            <h5>You Have No Trips!</h5>
            <h5>Would You Like to Create One?</h5>

        </div>
    <% end %>
</div>
