<h1><%= @trip.name %></h1>

<div> <strong>Start Date: </strong> <%= @trip.start_date.strftime("%B %d, %Y") %></div><br>
<div> <strong>End Date: </strong> <%= @trip.end_date.strftime("%B %d, %Y") %></div><br>
<div> <strong>Average Rating: </strong> <%= @trip.average_rating.round(2) %></div><br>

<% if @trip.locations.any? %>
    <div> <strong>Visited places: </strong> </div>
    <ul>
        <% @trip.locations.each do |location| %>
            <li><%= "#{location.name} - #{location.city.name}" %></li>
        <% end %>
    </ul>
<% end %>

<br>

<%= button_to "Back", trips_path, method: :get %><br>
<div><%= button_to "Edit Trip", edit_trip_path(@trip), method: :get %></div><br>
<div><%= button_to "Add Locations", countries_path, method: :get %></div>
