<h1><%= @trip.name %></h1>

<div> <strong>Start Date: </strong> <%= @trip.start_date.strftime("%B %d, %Y") %></div><br>
<div> <strong>End Date: </strong> <%= @trip.end_date.strftime("%B %d, %Y") %></div><br>
<div> <strong>Average Rating: </strong> <%= @trip.average_rating.round(2) %></div><br>

<% if @trip.trip_locations.any? %>
    <div> <strong>Visited places: </strong> </div>
    <ul>
        <% @trip.trip_locations.each do |trip_location| %>
            <li><%= link_to "#{trip_location.location.name} - #{trip_location.location.city.name}", trip_trip_location_path(@trip, trip_location) %></li>


        <% end %>
    </ul>
<% end %>

<br>

<div><%= button_to "Add Stops", countries_path, method: :get %></div><br>
<div><%= button_to "All Trips", trips_path, method: :get %></div><br>
<div><%= button_to "Edit Trip", edit_trip_path(@trip), method: :get %></div><br>
<div><%= button_to "Delete Trip", trip_path(@trip), method: :delete, data: {confirm: "Are you sure?"}%></div><br>
