
<h1><%= "Cities in #{@state.name}" %></h1>

<%= form_tag(state_cities_path(params[:state_id]), method: :get) do %>
    <%= label_tag :sort_by, "Sort By"%>
    <%= select_tag(:sort_by, options_for_select(["Highest Rated", "Lowest Rated", "Most Visited", "Alphabetically (A-Z)"]), prompt: "#{params[:sort_by]}") %>
    <%= submit_tag "Search" %>
<% end %>

<ul>
    <% @cities.each do |city| %>
        <li><%= link_to city.name, city_path(city) %></li>
    <% end %>
</ul>

<br>

<%= button_to "Country search", countries_path, method: :get %>

