
<h1><%= "Cities in #{@state.name}" %></h1>

<%= form_tag(state_cities_path(params[:state_id]), method: :get) do %>
    <%= label_tag :sort_by, "Sort By"%>
    <%= select_tag(:sort_by, options_for_select(["Highest Rated", "Lowest Rated", "Most Visited", "Alphabetically (A-Z)"]), prompt: "#{params[:sort_by]}") %>
    <%= submit_tag "Search" %>
<% end %>
<br><br>
<table style="width:20%">
  <tr>
    <th>City Name</th>
    <th>Average Rating</th>
  </tr>
  <% @cities.each do |city| %>
    <tr>
        <td><%= link_to city.name, city_path(city) %></td>
        <td><%= city.average_rating %></td>
    </tr>
    <% end %>
</table>

 


<br><br>

<%= button_to "Country Search", countries_path, method: :get %>

