
<h4><%= "Add #{@location.name} to My Trip!"%></h4>

<div style="margin-left: 90% ;"><%= button_to "Plan a New Trip!", new_trip_path, method: :get %></div>
<br>
<% if @trip_location.errors.any? %>
    <% @trip_location.errors.full_messages.each do |msg| %>
        <%= msg %><br>
    <% end %>
<% end %>

<br>
<%= form_for @trip_location, url:city_location_path(@location), method: :patch, class: "form-group"  do |f| %>
    <%= f.label :trip_id %>
    <%= f.collection_select :trip_id, @trips, :id, :name, class: "form-control" %><br>
    <%= f.label :rating %>
    <%= f.number_field :rating, {min: 1, max: 10, class: "form-control"} %>
    <%= f.label :review %>
    <%= f.text_field :review, class: "form-control" %><br>
    <button type="submit" class="btn btn-primary">Add to Trip</button>
<% end %>
