<h1><%= "Places to Visit in #{@city.name}" %></h1>


<%= form_tag(city_locations_path(params[:city_id]), method: :get) do %>
    <%= radio_button_tag("category", "food", checked = (params[:category] == "food"))%>
    <%= label_tag :category_food, "Food" %>
    <%= radio_button_tag("category", "outdoor", checked = (params[:category] == "outdoor"))%>
    <%= label_tag :category_outdoor, "Outdoor" %>
    <%= radio_button_tag("category", "attraction", checked = (params[:category] == "attraction"))%>
    <%= label_tag :category_attraction, "Attraction" %>
    <%= radio_button_tag("category", "shopping", checked = (params[:category] == "shopping"))%>
    <%= label_tag :category_shopping, "Shopping" %>
    <%= radio_button_tag("category", "hotel", checked = (params[:category] == "hotel"))%>
    <%= label_tag :category_hotels, "Hotels" %>
    <%= radio_button_tag("category", "business", checked = (params[:category] == "business"))%>
    <%= label_tag :category_business, "Business" %>
    <%= radio_button_tag("category", "all", checked = (params[:category] == "all"))%>
    <%= label_tag :category_business, "All" %>
    <%= submit_tag "Search" %><br><br>
<% end %>


<% if @locations.any? %>
    <div> Places: </div>
    <ul>
        <% @locations.each do |location|%>
            <li><%= link_to location.name, city_location_path(params[:city_id], location) %> </li>
        <% end %>
    </ul>
    <% else %>
        <%= "There are no locations listed in this city!" %><br>
<% end %>


<br>
<div><%= button_to "Search in Another Location", home_path, method: :get %></div>

