<h1><%= @location.name%></h1><br><br>
<% if @location.image_url %>
    <%= image_tag(@location.image_url) %><br>
<% end %>
<br><br>
<div><strong>Address:</strong><%= " #{@location.address}" %></div><br>
<div><strong>City:</strong><%= " #{@location.city.name}" %></div><br>
<div><strong>State:</strong><%= " #{@location.state_name}" %></div><br>
<div><strong>Category:</strong><%= " #{@location.category}" %></div><br>
<div><strong>Average Rating:</strong><%= " #{@location.average_rating}"%></div><br>

<% if @location.reviews.any? %>
    <div><strong>Reviews:</strong></div>
        <ul>
            <% @location.reviews.each do |review| %>
                <li><%= review %></li><br>
            <% end %>
        </ul>
<% end %>
    
<br>
<%= button_to "All Locations at #{@location.city.name}", city_locations_path(params[:city_id]), method: :get %>

<br>
<% if logged_in? %>  
    <%= button_to 'Add This to My Trip', edit_city_location_path(@location), method: :get %> <br>
<% end %>
