<h1><%= @location.name%></h1>

<div><%= "Address: #{@location.address}" %></div>
<div><%= "City: #{@location.city.name}, #{@location.state_name}" %></div>
<div><%= "Category: #{@location.category}" %></div>


<%= link_to 'Add to trip', edit_location_path(@location) %>