<h1><%= @location.name%></h1>
<% if @location.image_url %>
    <%= image_tag(@location.image_url) %><br>
<% end %>
<div><%= "Address: #{@location.address}" %></div>
<div><%= "City: #{@location.city.name}, #{@location.state_name}" %></div>
<div><%= "Category: #{@location.category}" %></div>
<div><%= "Average Rating: #{@location.average_rating}"%></div>

<% if logged_in? %>  
    <%= link_to 'Add to trip', edit_city_location_path(@location) %> <br>
<% end %>
<%= link_to "List of Locations for #{@location.city.name}", city_locations_path(params[:city_id]) %>