<!DOCTYPE html>
<html>
  <head>
    <title>TripPlanner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <h1> Trip Planner! </h1>
      <h3> Plan and Review Your Trips </h3>
    </div>
    <%= yield %>
  </body>
</html>
