<!DOCTYPE html>
<html>
  <head>
    <title>TripPlanner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="title">
      <h1> Trip Planner! </h1>
      <h3> Plan and Review Your Trips </h3>
    </div>
    <div class="header">
      <% unless params[:controller] == "sessions" &&  params[:action] == "login" %>
        <% if logged_in? %>
          <div class= "welcome"><strong> Welcome <%= current_user.display_name %></strong></div>
          <div class= "menu">
          <%= link_to "Home", home_path, method: :get %>       |
          <%= link_to "Logout", logout_path, method: :delete %>       |
          <%= link_to "My Account", user_path(current_user), method: :get %>
          </div>
        <% else %>
          <div class = "new">
          <%= link_to "Home", home_path %>       |
          <%= link_to "Login", login_path %>       |
          <%= link_to "Create an Account", new_user_path %><br><br>       
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="content"><%= yield %></div>
  </body>
</html>
